<section class="flex flex-col">
  <h2>Linear Regression</h2>
  
  <div class="inputClass">
    <ul>
      <label for="xValues">X values:</label>
      <input
        class="text-black"
        type="text"
        name="xValues"
        id="xValues"
        placeholder="e.g., 1, 2, 3, 4"
        [(ngModel)]="xValues"
      />
    </ul>
    <ul>
      <label for="yValues">Y values:</label>
      <input
        class="text-black"
        type="text"
        name="yValues"
        id="yValues"
        placeholder="e.g., 2, 3, 5, 7"
        [(ngModel)]="yValues"
      />
    </ul>
    
    <button (click)="linearRegression()">Calculate</button>
  </div>

  <div *ngIf="result !== null" class="result">
    <h2>Results:</h2>
    <span>Slope: {{ result.slope }}</span><br />
    <span>Intercept: {{ result.intercept }}</span>
  </div>
</section>
