<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Flavors&family=Hanalei+Fill&display=swap" rel="stylesheet">

<section>
    <header class="encabezadoNya">
        <h1>Operations Calculator</h1>
    </header>
    <div class="menu-container">
        <h2>Menu</h2>
        <p>
            Enter the required values separated by commas (,)
        </p>
        <nav class="menu">
            <ul class="menu-ul">
                <li><a routerLink="/">Media</a></li>
                <li><a routerLink="/simpson">Simpson</a></li>
                <li><a routerLink="/correlation">Correlation</a></li>
                <li><a routerLink="/stddev">Stddev</a></li>
                <li><a routerLink="/linear_regression">Linear Regression</a></li>
            </ul>
        </nav>
    </div>
    <router-outlet></router-outlet>    
</section>
